body {
  background-color: #faf8f1;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 0.5%;
}


.balloon-container {
  display: inline-block;
  background-size: contain;
  position: absolute;
  bottom: 0%;
  animation: move_y 20s forwards, oscil1 6s infinite;
  left: 45%;

}

.balloon {

  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid #faf8f1;
}

.image {
  width: 500px;

}

.popped-balloon {
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  background-color: #faf8f1;
}


@keyframes move_y {
  from {
    bottom: -10%;
    /* left: 50% */
  }

  to {
    bottom: 100%;
  }
}

@keyframes oscil1 {
  from {
    translate: 0 0;
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.1, 0.39, 0.9, 1);
  }

  25% {
    translate: 10px 0;
    transform: rotate(3deg);
    animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
  }

  50% {
    translate: 0 0;
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
  }

  75% {
    translate: -10px 0;
    transform: rotate(-3deg);
    animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
  }

  to {
    translate: 0 0;
    transform: rotate(0deg);
  }
}


.title {
  font-size: large;
  color: rgb(3, 4, 4);
  text-align: center;
}

.instructions {
  position: relative;
  height: 100px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(68, 197, 51);
  text-align: center;

}

.box {
  background: #faf8f1;
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 5%;

  border-radius: 15px;
  text-align: center;

}


.box-demonstration {
  position: relative;
  background: #faf8f1;
  padding: 20px;
  margin: 50px;
  border: 11px solid rgb(235, 133, 226);
  text-align: center;
  border-radius: 15px;
}

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100px;
  padding: 22px 33px;
  font-size: 26px;
  line-height: 26px;
  color: black;
  background: #f27ce3;
  outline: none;
  border-radius: 15px;
  position: relative;
  overflow: visible;

}

.progress {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(185, 232, 171);
  text-align: center;
}